server:
  port: 8090
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/db_webappdev?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: user_seo
    password: 1234
    thymeleaf:
     cache: false
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: create
