body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFE6E2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: background-color 0.3s ease;
}

.container {
    width: 600px;
    height: 300px;
    overflow: auto;
    background-color: #FFFFFF;
    border: 1px solid #333333;
    border-radius: 2em;
}
.container::-webkit-scrollbar {
    width: 10px;
}

.container::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.container::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
table{
    width: 600px;
}

.button-container {
    margin-top: 20px;
}

.save-button {
    width: 60px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
