<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<form action="/member/login" method="get">

        <h1>Welcome Back,</h1>
        <label>
            <span>Email</span>
            <input type="text" name="memberEmail">
        </label>
        <label>
            <span>Password</span>
            <input type="password" name="memberPassword">
        </label>
        <label>
            <input type="submit" value="SIGN IN" class="sign-in">
        </label>
</form>

</body>
</html>