body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFE6E2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: background-color 0.3s ease;
}

.container {
    width: 320px;
    text-align: center;

}


.button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button {
    background: white;
    border: 2px solid #666;
    border-radius: 50px;
    padding: 12px 60px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #f5f5f5;
}

a{
    text-decoration-line: none;
    color: black;
}

