body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: background-color 0.3s ease;
}

.container {
    width: 320px;
    text-align: center;
}
h1 {
    width: 100%;
    font-size: 26px;
    text-align: center;
}

label {
    display: block;
    margin: 25px auto 0;
    text-align: center;
}
span {
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
}

input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    text-align: center;
}
.sign-up{
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
    background-color: #FFE6E2;
    border-radius: 2em;
    width: 130px;
    height: 40px;
    margin-left: 18%;
}

