body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: background-color 0.3s ease;
}

.container {
    width: 320px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    top: -45px;
}

.header img {
    width: 30px;
    cursor: pointer;
}

.title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: bold;
    text-align: right;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.buttons button {
    background: none;
    border: none;
    cursor: pointer;
}

.buttons button img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

.textarea {
    width: calc(100% - 14px);
    max-width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    resize: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls button {
    background: none;
    border: none;
    cursor: pointer;
}

.controls #playPause img {
    width: 20px;
}

.controls #save {
    width: 60px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.calendar-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 20px;
    text-align: center;
}

.calendar-page a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.diaryView{
    color: black;
    text-decoration: none;
}

.diaryViewBtn{
    background-color: #FFFFFF;
    border:1px solid #333333;
}
